<aside>
  <nav>
    <ul>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Dashboard</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Mídias</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Postagens</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Recorrências</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Displays</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Raspberries</a>
      </li>
      <li class="tui-space_bottom-5">
        <a tuiLink icon="tuiIconChartLineLarge" iconAlign="left">Lojas</a>
      </li>
    </ul>
  </nav>
</aside>
