<article>
  <h1>Criar Display</h1>
  <div class="tui-container">
    <form [formGroup]="recurrenceForm" (ngSubmit)="onSubmit()">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_8">
          <h3 class="tui-form__header tui-form__header_margin-top_none">Informações</h3>
          <!-- Description -->
          <div class="tui-form__row">
            <tui-input
              tuiTextfieldExampleText="Descrição da recorrência"
              formControlName="description"
            >
              Descrição
              <span class="tui-required"></span>
            </tui-input>
            <tui-error
              formControlName="description"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>
          <!-- Isoweekday -->
          <div class="tui-form__row">
            <tui-input-count formControlName="isoweekday" [max]="7">
              Dia da semana
              <input tuiTextfield placeholder="Dia da semana" />
            </tui-input-count>
            <tui-error
              formControlName="isoweekday"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>
          <!-- Day -->
          <div class="tui-form__row">
            <tui-input-count formControlName="day" [max]="31">
              Dia
              <input tuiTextfield placeholder="Dia" />
            </tui-input-count>
            <tui-error
              formControlName="day"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>
          <!-- Month -->
          <div class="tui-form__row">
            <tui-input-count formControlName="month" [max]="12">
              Mês
              <input tuiTextfield placeholder="Mês" />
            </tui-input-count>
            <tui-error
              formControlName="month"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>

          <div class="tui-form__buttons">
            <button
              tuiButton
              size="l"
              type="submit"
              class="tui-form__button"
              [disabled]="formDisabled"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</article>
