@import '~@taiga-ui/core/styles/taiga-ui-local';

header {
  @include shadow(4);
}

.header {
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
}

.dropdown {
  width: 4rem;

  padding-block: 1rem;
  padding-inline: 2rem;
}

.dropdown li {
  cursor: pointer;
}
